/**********Global Stuff**********/
body {
	width: 100%;
	margin: 0;
}
#darken {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 99;
	display: none;
}
#signup {
	z-index: 100;
	width: 300px;
	height: 300px;
	background: white;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin: -300px 0px 0px 0px;
	display: none;
}
header {
	width: 100%;
	height: 100px;
}
header h1 {
	text-align: center;
	line-height: 100px;
	font-family: 'Roboto', sans-serif;
	font-size: 80px;
	font-weight: 900;
}
#login {
	position: absolute;
	top: 40px;
	right: 20px;
	width: 350px;
}
#logo {
	float: left;
	width: 50%;
	background: aqua;
}
nav {
	float: right;
	width: 50%;
	background: blue;
}
#grabber {
	text-align: center;
	background: #e74c3c;
	height: 500px;
	padding: 10px;
	border-bottom: 10px solid #edaca5;
	border-top:10px solid #edaca5;
	margin: 0px;
}
#grabber h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
#signupbutton {
	width: 150px;
	height: 50px;
	background: #fff;
	border-radius: 4px;
	line-height: 50px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	box-shadow: 2px 2px 0px #ecf0f1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: none;
}
#signupbutton:hover {
	background: #f9fafa;
	box-shadow: 2px 2px 0px #bdc3c7;
}
a {
	color: inherit;
	text-decoration: none;
}
#screen {
	width: 466px;
	height: 342px;
	margin-top: 35px;
	background: url(http://i.imgur.com/EyISa6M.png);
	margin-left: auto;
	margin-right: auto;
}
#homemulticount {
	width: 100%;
	height: -webkit-calc(100% - 640px);
	height: -moz-calc(100% - 640px);
	height: -calc(100% - 640px);
	font-family: 'Bree Serif', serif;
	font-size: 26px;
	text-align: center;
	line-height: 100px;
	background: #ecf0f1;
}
#feedcontent {
	width: 100%;
}
#loginphp {
	text-align: right;
}
/**********SIGNUP FORM STUFF**********/
#signupformwrapper{
	padding-top: 10px;
}
#signupemail{
	width: 300px;
	height: 40px;
	margin-bottom: 5px;
	border: none;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 5px;
}
#signupfirst {
	width: 147px;
	height: 40px;
	margin-bottom: 5px;
	border: none;
	border-radius: 4px 0px 0px 4px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 5px;
}
#signuplast {
	width: 147px;
	height: 40px;
	border: none;
	border-radius: 0px 4px 4px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 5px;
}
#signuppassword {
	width: 300px;
	height: 40px;
	border: none;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 5px;
}
/**********Feed Stuff**********/
#feedheader {
	background: #e74c3c;
	border-bottom: 5px solid #d5d5d5;
	position: fixed;
	top: 0;
	left: 0;
}
#feedheader h1 {
	margin-top: 0px;
}
#feedlogout {
	position: absolute;
	top: 40px;
	right: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 70px;
	height: 20px;
	border-radius: 4px;
	line-height: 20px;
}
#feedlogout:hover {
	color: #433e3e;
}
#feedcontent {
	width: 100%;
}
#multilist {
	width: 200px;
	background: #ecf0f1;
	float: left;
	height: -webkit-calc(100% - 100px);
	height: -moz-calc(100% - 100px);
	height: -calc(100% - 100px);
	border-right: 5px solid #d5d5d5;
	padding-top: 10px;
	position: fixed;
	top: 100px;
	left: 0px;
}
#feed {
	float: left;
	width: -webkit-calc(100% - 410px);
	width: -moz-calc(100% - 410px);
	width: calc(100%-410px;);
	margin-left: 205px;
	margin-top: 105px;
}
#info {
	width: 200px;
	background: #ecf0f1;
	float: left;
	height: -webkit-calc(100% - 100px);
	height: -moz-calc(100% - 100px);
	height: -calc(100% - 100px);
	border-left: 5px solid #d5d5d5;
	font-family: 'ariel', sans-serif;
	font-size: 12px;
	font-weight: 500;
	position: fixed;
	top: 100px;
	right: 0px;
	padding-top: 10px;
}
.multilistitem {
	float: right;
	width: 150px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 10px 0px 0px 10px;
	background: white;
	border-top: 1px solid #d5d5d5;
	border-left: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5; 
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	margin-bottom: 5px;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
	transition:.2s;
}
.multilistitem:hover {
	width: 160px;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
	transition:.2s;
}
.multilistitem:active {
	width: 170px;
}
#newmulti {
    float: right;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px 0px 0px 10px;
    background: white;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    -ms-transition:.2s;
    transition:.2s;
}
#multi:hover {
    width: 180px;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    -ms-transition:.2s;
    transition:.2s;
    cursor: pointer;
}
#addmultiname {
	width: 110px;
	height: 20px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid #dae0e6;
}
#thereisanewmulti {
	color: red;
	font-size: 10px;
	text-align: right;
	margin-top: 0px;
	width: 10px;
	display: none;
}
#addsubmit {
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: #fff;
	text-align: center;
	float: left;
	margin-top: 10px;
	font-size: 14px;
}
#addsubmit:hover {
	cursor: pointer;
	color: #736969;
}
#infochannellisting {
	height: 20px;
	line-height: 20px;
	padding-left: 5px;	
	font-size: 14px;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
	transition:.2s;
}
#infochannellisting:hover {
	color: #3499dc;
	-webkit-transition:.2;
	-moz-transition:.2s;
	-o-transition:.2s;
	-ms-transition:.2s;
	transition:.2s;
}
#addachannel {
	margin-top: 10px;
	padding-left: 10px;
	text-align: center;
}
#addbutton {
	border: 1px solid black;
	background: white;
	border-radius: 4px;
}
#addbutton:hover {
	background: #f7f7f7;
}
#addtext {
	border: 1px solid black;
	height: 18px;
	padding: 2px;
}
/**********Entry styling stuff**********/
.entry {
	font-family: 'ariel',sans-serif; 
	font-weight: 400; 
	margin: 10px auto; 
	padding: 5px; 
	border-bottom: 1px solid #bebebe; 
	width:90%; 
	font-size: 14px; 
	line-height: 20px;
	height: 120px;
}
.videotitle {
	font-weight: 600;
	color: #006699;
	font-size: 16px;
}
.videotitle:hover {
	color: #135475;
}
.channelname{
	font-family: 'ariel',sans-serif; 
	font-weight: 700;
	color: #34495e; 
	width: 90%;
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
}
.entrythumbnail {
	width: 120px;
	height: 90px;
	margin: 0px 10px 10px 10px;
	float: left;
	border: 5px solid #e74c3c;
}
.entrytextwrap {
	float: left;
	padding: 10px;
}
.entrydesc {
	font-weight: 300;
	text-align: justify;
}
/**********End Entry styling**********/
#ad {
	width: 120px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
#newmultitext {
	width: 100px;
	margin: 5px;
	background: #fff;
	border: none;
	padding: 5px;
}
#selectormake {
	font-family: 'Ariel', sans-serif;
	font-weight: 800;
	font-size: 14px;
	width: 350px;
	height: 40px;
	line-height: 40px;
	background: #3498db;
	border-radius: 40px 4px 4px 40px;
	color: #ffffff;
	text-align: center;
	position: absolute;
	top: 120px;
	left: 220px;	
}
#selectormake:before {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid #3498db;
	border-bottom: 50px solid transparent;
}
#addchannels {
	font-family: 'Ariel', sans-serif;
	font-weight: 800;
	font-size: 14px;
	width: 350px;
	height: 40px;
	line-height: 40px;
	background: #3498db;
	border-radius: 4px 40px 40px 4px;
	color: #ffffff;
	text-align: center;
	position: absolute;
	top: 140px;
	right: 220px;	
}
/*********Suggested Channel stuffs**********/
#suggestedchannels {
	width: 90%;
	margin: 60px auto 0px auto;	
	font-family: 'ariel', sans-serif;
	text-align: center;
}
#suggestedchannels h3 {
	font-weight: 600;
}
#suggestedchannels h5 {
	margin-top: -10px;
}
#suggestedchannelgridwrapper {
	
}
.suggestedchannelgriditem {
	width: 350px;
	height: 150px;
	background: #ededed;
	border-radius: 4px;
	margin: 5px;
	background: #ecf0f1;
	float: left;
}
#suggestedthumbnail {
	float: left;
	padding: 10px;
}
.suggestedthumbnailimg {
	width: 125px;
	height: 125px;
}
.suggestedtextwrapper {
	float: right;
}
#suggestedname {
	padding-top: 5px;
	font-weight: 700;
}
#suggesteddesc {
	text-align: left;
	padding: 5px;
	font-size: 14px;
}